@import '~@angular/material/theming';

.no-margin {
  margin: 0% !important;
}

.full-width {
  width: 100%;
}

.main-container {
  min-height: 100vh;
  width: 100%;
  margin-left: 50px;
  padding: 50px;
}

.cursor-pointer {
  cursor: pointer;
}

.mat-button-disabled{
  background: rgb(201, 199, 199);
}

.tree {
  width: 30%;
}

.mat-tree-node {
  background-color: white;
  user-select: none;
  cursor: move;

  &.cdk-drag-preview {
    // while dragging
    @include mat-elevation(12);
  }

  &.cdk-drag-placeholder {
    // potential drop area
    opacity: 0;
  }
}

/* items moving away to make room for drop */
.cdk-drop-list-dragging .mat-tree-node:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* item being dropped */
.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

