  <div class="row full-width main-container bg-white no-margin d-flex justify-content-center">
    <div class="col-sm-12">
      <h1 class="text-primary mat-display-1">Menu Items App</h1>
    </div>
    <div class="no-margin col-sm-12 mt-4 ">
      <form [formGroup]="fg" class="row no-margin" style="font-size: 12px;width: 60%;">
        <mat-form-field appearance="outline" [floatLabel]="'always'" class="col-sm-4">
          <mat-label>Menu Item Name</mat-label>
          <input matInput formControlName="name" required type="text" />
        </mat-form-field>
        <mat-form-field appearance="outline" [floatLabel]="'always'" class="col-sm-4">
          <mat-label>Menu Item Link</mat-label>
          <input matInput formControlName="link" required type="text" />
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="!isEditMode" [floatLabel]="'always'" class="col-sm-2">
            <mat-label>Item Type</mat-label>
            <mat-select formControlName="hasChildren">
              <mat-option [value]="false">menu Item</mat-option>
              <mat-option [value]="true">menu List</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="col-sm-2 submit-button">
          <button [disabled]="!fg.valid" mat-button [ngClass]="getAddButtonClasses()" (click)="!isEditMode?onAdd():onEditSubmitted()"
            type="button">{{buttonText}}</button>
        </div>
        <div *ngIf="fg.get('name')?.invalid && (fg.get('name')?.dirty || fg.get('name')?.touched)"
          class="text-danger col-sm-4 mat-caption text-center">
          <div *ngIf="fg.get('name')?.errors?.required">
            Please enter a valid name
          </div>
        </div>
        <div *ngIf="fg.get('link')?.invalid && (fg.get('link')?.dirty || fg.get('link')?.touched)"
          class="text-danger col-sm-4  mat-caption text-center">
          <div *ngIf="fg.get('link')?.errors?.required||fg.get('link')?.errors?.min||fg.get('link')?.errors?.max">
            Please enter a valid link
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-12">
      <mat-tree class="tree" [dataSource]="dataSource" [treeControl]="treeControl" cdkDropList
        (cdkDropListDropped)="drop($event)">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding cdkDrag [cdkDragData]="node"
          (mouseenter)="dragHover(node)" (mouseleave)="dragHoverEnd()" (cdkDragStarted)="dragStart()"
          (cdkDragReleased)="dragEnd()">
          <a target="blank" [href]="node.link"> {{node.filename}} </a>
          <span class="material-icons ml-4 text-secondary cursor-pointer" (click)="onEdit(node)">
            edit
          </span>
          <span class="material-icons text-danger ml-4 cursor-pointer" (click)="onDelete(node)">
            delete
          </span>

        </mat-tree-node>

        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding cdkDrag [cdkDragData]="node"
          (mouseenter)="dragHover(node)" (mouseleave)="dragHoverEnd()" (cdkDragStarted)="dragStart()"
          (cdkDragReleased)="dragEnd()">
          <button mat-icon-button matTreeNodeToggle (click)="expansionModel.toggle(node.id)"
            [attr.aria-label]="'toggle ' + node.filename">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <a target="blank" [href]="node.link">{{node.filename}}</a>
          <span class="material-icons ml-4 text-secondary cursor-pointer" (click)="onEdit(node)">
            edit
          </span>
          <span class="material-icons ml-4 text-danger cursor-pointer" (click)="onDelete(node)">
            delete
          </span>
        </mat-tree-node>
      </mat-tree>
    </div>
  </div>
